{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Login {% endblock %}</h1>
    <div class="input-box">
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
          {% endif %}
        <form action="/login" method="post">
          <p>Email</p>
          {{ form.email }}
          <p>Password</p>
          {{ form.password }}
          {{ form.hidden_tag() }}
          <br>
          <br>
          <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}