{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to The Camping Packing List Generator {% endblock %}</h1>

    <div class="input-box">
        <h2>About Packing List Generator</h2>
        <p style="text-align:left">Packing List Generator is a Web Application built by Jack Naylor in order to help amateur campers figure out
            what to bring on a camping trip. It will get a weather forecast for the area you plan to trip and build a
            packing list for you based on the weather, number of people on the trip and length of the trip. Please note,
            these are just guidelines, proper research should be done before going on any trip as camping without the
            necessary gear can be dangerous. Always double check what you've packed, check the upcoming weather and go
            with an experienced camper. Happy Camping!</p>
    </div>
{% endblock %}